# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
TrainingCollegClientWithMaterial.iml
node_modules/
TrainingCollegeClientWithMaterial.iml
.DS_Store
src/.DS_Store
src/assets/.DS_Store
src/assets/Carousel/.DS_Store
src/assets/Recommendation/.DS_Store
