.wrapper {
  position: relative;
  background-color: white;
  height: 88%;
}

.edit_form {
  position: absolute;
  top: 50%;
  left:45%;
  transform: translateX(-50%) translateY(-50%);
}

.edit_form > .welcome {
  text-align: center;
}

.welcome {
  margin-left: 27%;
  font-size: xx-large;
}

.button {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .edit_form {
    width: 500px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .edit_form {
    width: 500px;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .edit_form {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .edit_form {
    width: 300px;
  }
}
