.editable_cell {
  position: relative;
}

.cell_image{
  width: 150px;
  margin-right: 5px;
  height: auto;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 24px;
}

.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  display: none;
}

.editable-cell-icon-check {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.editable-add-btn {
  margin-bottom: 8px;
}

:global .ant-table-bordered .ant-table-thead > tr > th, :global .ant-table-bordered .ant-table-tbody > tr > td, :global .ant-table-bordered .ant-table-body > table {
  border: none;
}

:global .ant-table-thead > tr > th {
  background-color: #4054B2;
  color: white;
}

/*:global .ant-table-tbody > tr > td {*/
  /*background-color: cornsilk;*/
/*}*/

:global .ant-table table {
  border-spacing: 0 10px;
  border: none;
}
