.wrapper {
  position: relative;
  background-color: white;
  height: 70%;
}

.inner_wrapper {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

.inner_wrapper > .welcome {
  text-align: center;
  font-size: xx-large;
  margin-top: 35%;
}

@media screen and (min-width: 1200px) {
  .card {
    width: 600px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .card {
    width: 600px;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .card {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 400px;
  }
}

.edit_form {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

.edit_form > .welcome {
  text-align: center;
}


.welcome {
  font-size: xx-large;
  padding-bottom: 1%;
  padding-top: 2%;
}

.button {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .edit_form {
    width: 500px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .edit_form {
    width: 500px;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .edit_form {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .edit_form {
    width: 300px;
  }
}
